[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.ecva.net/papers/eccv_2020/papers_ECCV/papers/123650460.pdf
Type=Link
URL=https://www.ecva.net/papers/eccv_2020/papers_ECCV/papers/123650460.pdf
Icon=application-pdf
