[Desktop Entry]
Encoding=UTF-8
Name=Link to Is it illegal in any state in the USA to enter a restroom whose sign is not one's sex?
Type=Link
URL=https://law.stackexchange.com/questions/8761/is-it-illegal-in-any-state-in-the-usa-to-enter-a-restroom-whose-sign-is-not-one?rq=1
Icon=text-html
